<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="KDE is an open community of friendly people who want to create a world in which everyone has control over their digital life and enjoys freedom and privacy.">
  <meta name="author" content="">
  <title>{{ .Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  {{ $title := .Title }}
  {{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />{{ end }}

  <!-- Facebook open graph configuration -->
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:description" content="{{ .Params.description }}">
  <meta property="og:site_name" content="FedoraLovesKDE.org">
  <meta property="og:image" content="https://getfedora.org/static/images/g-monitor-fedoralogo.png">

  <!-- Twitter card configuration -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@kdecommunity">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="{{ .Params.description }}">
  <meta name="twitter:image" content="https://getfedora.org/static/images/g-monitor-fedoralogo.png">

  <!-- schema.org metadata -->
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://fedoraloveskde.org/",
      "name": "{{ .Title }}",
      "description": "{{ .Params.description }}"
  }
  </script>

  <script defer src="/js/brands.min.js"></script>
  <script defer src="/js/solid.min.js"></script>
  <script defer src="/js/fontawesome.min.js"></script>

  <!-- Icons -->
  <link rel="shortcut icon" href="https://getfedora.org/static/images/favicon.ico">

  {{ $style := resources.Get "sass/bulma.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ range .Params.sassFiles }}
  {{ $style := resources.Get . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ end }}
</head>
