<nav class="navbar container is-transparent" role="navigation" aria-label="main navigation">
  {{ $currentPage := . }}
  <div class="navbar-brand">
    <!-- <a class="navbar-item" href="/"> -->
    <!--   <img src="/fedora_logo.svg" width="200" height="50"> -->
    <!-- </a> -->

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-languages" style="margin: 26px 0px 0px 0px;">
            <span>
            <img src="https://kde.org/aether/languages.png" alt="" style="margin: 5px 10px 0px 0px;">
            </span>
            <span>{{ i18n "footer.languages" }}</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-languages" role="menu">
          <div class="dropdown-content">
            <a class="dropdown-item" hreflang="{{ .Language.Lang }}" lang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ $firstLang := .Sites.First.Language.Lang }}
            {{ if ne .Language.Lang $firstLang }}
            {{ with index .AllTranslations 0 }}
            <a class="dropdown-item" hreflang="{{ .Language.Lang }}" lang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end }}
            {{ end }}
            {{ range sort (where .Translations "Language.Lang" "!=" $firstLang) "Language.LanguageName" }}
              {{ with .Language.Params.hidden }}
                {{ if not . }}
                  <a class="dropdown-item" hreflang="{{ .Language.Lang }}" lang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                {{ end }}
              {{ else }}
                <a class="dropdown-item" hreflang="{{ .Language.Lang }}" lang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
