{{ define "main" }}
<main id="home">
  <section class="hero">
    <div class="container px-3 has-text-centered is-flex-center-vertial-childs">
      <img class="img-fluid fedoraloveskde" src="/fedoraloveskde.svg" />
      <h1 class="is-size-1">{{ i18n "title" }}</h1>
      <h1 class="is-size-3">{{ i18n "tagline" }}</h1>
      <h2 class="is-size-5 mt-3 small-container">{{ i18n "description" }}</h2>
      <div class="has-text-centered mt-4"><a href="https://akademy.kde.org" class="button is-primary">{{ i18n "akademy" }}</a></div>
    </div>
  </section>

  <section class="section">
    <div class="components">
      <a href="https://getfedora.org" class="product product-fedora">
        <h2 class="is-size-2">{{ i18n "fedora" }}</h2>
        <h3 class="has-text-centered">{{ i18n "fedora.description" }}</h3>
      </a>

      <h2>{{ i18n "choose" }}</h2>
      <a href="https://spins.fedoraproject.org/en/kde/" class="product product-plasma">
        <h2 class="is-size-1">{{ i18n "fedora.kde" }}</h2>
        <h3 class="">{{ i18n "fedora.kde.description" }}</h3>
       </a>
      <a href="https://kinoite.fedoraproject.org/" class="product product-applications">
        <div class="description">
          <h2 class="is-size-1">{{ i18n "fedora.kinoite" }}</h2>
          <h3>{{ i18n "fedora.kinoite.description" }}</h3>
        </div>
      </a>

      <h2>{{ i18n "why" }}</h2>
      <a href="{{ i18n "why.technology.url" }}" class="product product-ostree">
        <div class="description">
          <div class="components">
            <img src="/wayland_logo.svg" alt="Wayland logo">
            <img src="/systemd_logo.svg" alt="systemd logo">
            <img src="/pipewire_logo.svg" alt="PipeWire logo">
          </div>
          <h2 class="is-size-3">{{ i18n "why.technology" }}</h2>
          <p class="">{{ i18n "why.technology.description" }}</p>
        </div>
      </a>
      <a href="https://apps.kde.org/discover/" class="product product-dnf">
        <div class="description ">
          <div class="components">
            <img src="/discover_logo.svg" alt="Discover logo">
            <img src="/rpm_logo.svg" alt="RPM logo">
            <img src="/flatpak_logo.png" alt="Flatpak logo">
          </div>
          <h2 class="is-size-3">{{ i18n "why.package" }}</h2>
          <p class="">{{ i18n "why.package.description" }}</p>
        </div>
      </a>

      <a href="https://fedoraproject.org/wiki/SIGs/KDE" class="product product-fedora">
        <div class="description">
          <h2 class="has-text-centered is-size-2">{{ i18n "getinvolved" }}</h2>
          <h3 class="has-text-centered">{{ i18n "getinvolved.description" }}</h3>
        </div>
      </a>
    </div>
  </section>
</main>
{{ end }}
